{% extends "/layouts/base.html" %}
{% import "/macros/forms.html" as forms %}

{% block content %}
<div class="column scroll-area">
    <div class="row">
        <h3>Settings</h3>
    </div>
    <div>
        <p>Manage your LoRē Genome settings here.</p>
    </div>

        <form method="post" action="/settings">

            <fieldset class="form-fieldset">
                <legend>Settings</legend>
                    {% for name, field_info in settings.model_fields.items() %}
                        {% set current_val = settings | attr(name) %}
                        {{ forms.render_field(name, field_info, current_val) }}
                    {% endfor %}
            </fieldset>

            <fieldset class="form-fieldset">
                <legend>Secrets</legend>
                    {% for name, field_info in secrets.model_fields.items() %}
                        {% set current_val = secrets | attr(name) %}
                        {{ forms.render_field(name, field_info, current_val) }}
                    {% endfor %}
            </fieldset>
            
            <a href="/" class="btn secondary">Cancel</a>
            <button class="btn primary" type="submit">Save settings</button>
        </form>

</div>

{% endblock %}